#absolute {
    width: 960px;
    background-color:black;
    height: 100px;
    text-align: center;
    color: white;
    line-height: 100px;
    border-color: rgb(0, 204, 255);
    border-style: solid;
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}

.wrapper {
    background-color: white;
    position: relative;
    top: 350px;
    height: 800px;
    width: 960px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

img {
    position: absolute;
    left: 400px;
}

h1 {
    position: relative;
    top: 0px;
    text-align: center;
}

#gifContainer {
    position: absolute;
    right: 800px;
    top: 45px;
}

#gifContainer2 {
    position: absolute;
    left: -47px;
    top: 45px;
}